@{
    ViewData["Title"] = "Create Page";
}

<div class="text-center">
    <div class="container">
        Create user
        <hr />
        <form asp-action="SaveUser" asp-controller="Home" method="POST">
            <div class="form-floating mb-3">
                <input name="txtname" type="text" class="form-control" id="txtName" placeholder="name" required>
                <label for="txtname">Full Name</label>
            </div>
            <div class="form-floating mb-3">
                <input name="txtEmail" type="email" class="form-control" id="txtEmail" placeholder="txtEmail" required>
                <label for="txtEmail">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input name="txtPhone" type="number" class="form-control" id="txtPhone" placeholder="txtPhone" required>
                <label for="txtPhone">Phone</label>
            </div>
            <div class="form-floating mb-3">
                <input name="txtAddress" type="text" class="form-control" id="txtAddress" placeholder="txtAddress" required>
                <label for="txtAddress">Address</label>
            </div>
            <div class="group">
                <label for="dateIn" class="label">DateIn</label>
                <input type="date" name="txtFecha" class="input" required>
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
